/*main formating*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Gilroy;
    src: url(./Gilroy-Medium.otf);
}

:root{
    --bgColor: #fff;
    --onBg: #000;
    --primary: #6E07F3;
}

.dark {
    --bgColor: #292c35;
    --onBg: #fff;
}

.primary{
    background-color: #6E07F3;
}

body{
    font-family: Gilroy;
    background-color: var(--bgColor);
}

img{
    width: 100%;
}

#darkModeToggleButton{
    border: solid;
    border-radius: 5rem;
    background-color: var(--bgColor);
    color: var(--primary);
    border-color: var(--primary);
    padding: 5px;
    font-size: 1.2rem;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}

#darkModeToggleButton:hover{
    background-color: var(--primary);
    color: #fff;
    transition: ease-in-out 0.3s;
}

/*hero styles*/

.top--icons{
    float: right;
    font-size: 2rem;
    margin-right: 10px;
    margin-top: 5px;
    text-shadow: none;
}

.icon--button{
    color: var(--onBg);
}

.hero{
    /* background-image: url(./img/mobile-hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */
    font-size: 2.5rem;
    color: var(--onBg);
    text-align: center;
    margin-bottom: -1px;
}

h1{
    font-size: 3.8rem;
    text-align: center;
    padding-top: 10rem;
    padding-bottom: 5rem;
}

.hero p{
    font-size: 1.5rem;
}

.contact--me{
    display: inline-block;
    background-color: #21db3a;
    font-size: 2.6rem;
    border: none;
    border-radius: 2em;
    padding: 10px;
    margin-top: 5rem;
    color: #fff;
    text-decoration: none;
    margin-bottom: 5rem;
}

.avatar {
    border-radius: 999px;
    margin-top: 50px;
    width: 60%;
}

/*about me styles*/

.aboutme{
    text-align: center;
    color: #fff;
}

.mylife {
    background-color: var(--primary);
    padding-bottom: 30rem;
    padding-top: 5rem;
    margin-bottom: -27rem;
}

h2{
    font-size: 2rem;
    padding: 2rem 0;
}

.aboutme p{
    width: 75%;
    margin: 0 auto;
    font-size: 1.2rem;
    padding-bottom: 2rem;
}

.skills{
    border-radius: 12px;
    background-color: var(--bgColor);
    color: var(--onBg);
    box-shadow: 0 5px 5px 0 rgb(233 240 243 / 50%), 0 0 0 1px #e6ecf8;
    width: 90%;
    margin: auto;
}

.skill--content{
    border-bottom: solid 2px #e6ecf8;
    padding-top: 20px;
}

.last--skill{
    border: none;
}

.skill--content h3 {
    color: var(--primary);
    font-size: 24px;
}

.icon--div{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5BE9B9;
    width: 64px;
    height: 64px;
    margin: auto;
    border-radius: 999px;
}

.icon--skill {
    font-size: 2.3rem;
}
/*portfolio styles*/

.portfolio h3{
    font-size: 3rem;
    text-align: center;
    padding-bottom: 30px;
    margin-top: 20px;
    color: var(--onBg);
}

.portfolio{
    color: #fff;
}

.portfolio h4{
    font-size: 2rem;
    margin: 10px 0;
    text-align: center;
}

.portfolio p{
    font-size: 1.4rem;
    font-weight: bold;
    padding-bottom: 5px;
}

.portfolio span{
    font-weight: bold;
}

.container{
    display: flex;
    flex-wrap: wrap;
}

.project{
    width: 90%;
    margin: 0 auto;
    padding: 1.6rem;
    margin-bottom: 4rem;
    background-color: var(--primary);
    border-radius: 18px;
}

.project ul li{
    list-style-type: none;
    font-size: 1.2rem;
    padding: 5px 0;
}

.portfolio a, .portfolio a:visited {
    text-decoration: none;
    color: #af44bb;
    font-weight: bold;
    font-size: 1.6rem;
    display: block;
    padding-bottom: 1rem;
}

/*contact styles*/

.contact{
    margin: 0 auto;
    background-color: var(--bgColor); 
    color: var(--onBg);
    padding-bottom: 2rem;
}

.fix--width{
    max-width: 1200px;
    margin: 0 auto;
}

h4{
    font-size: 3rem;
    padding-top: 1rem;
}

.contact p{
    padding: 2rem 0;
    font-size: 1.15rem;
}

h5{
    font-size: 2rem;
    padding: 1rem 0;
}

label{
    display: block;
    padding: 0.5rem 0;
}

input{
    border: solid;
    border-radius: 5rem;
    background-color: var(--bgColor);
    color: var(--onBg);
    border-color: var(--primary);
    width: 75%;
    padding: 5px;
}

textarea{
    display: block;
    width: 75%;
    border: solid;
    background-color: var(--bgColor);
    color: var(--onBg);
    border-color: var(--primary);
    border-radius: 1rem;
    resize: none;
    padding: 5px;
}

#sub{
    background-color: transparent;
    margin-top: 1rem;
    border: solid;
    border-color: var(--primary);
    color: var(--primary);
}

#sub:hover{
    background-color: var(--primary);
    color: #fff;
    transition: ease-in-out 0.3s;
}

/*footer styles*/

footer{
    padding: 2rem 0;
    background-color: var(--primary);
    color: #fff;
    text-align: center;
    font-size: 1.2rem;
}

/*responsive to desktop*/

@media (min-width: 1281px) {

/*hero styles*/

.hero{
    /* background-image: url(./img/bg.jpg); */
    height: 750px;
}

.avatar {
    width: 15%;
}

/*aboutme styles*/

.aboutme{
    padding-top: 1.5rem;
}

.mylife p{
    max-width: 1200px;
}

.skills {
    display: flex;
    max-width: 1200px;
}

.skill--content {
    width: 50%;
    border-right: solid 2px #e6ecf8;
    border-bottom: none;
}

.last--skill{
    border: none;
}

/*porftolio styles*/

.portfolio{
    padding-top: 1rem;  
}

.container{
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
}

.project{
    width: 45%;
}

/*contact styles*/

.contact input{
    height: 3rem;
    font-size: 1.6rem;
    padding: 10px;
}

textarea{
    font-size: 1.2rem;
    padding: 10px;
}

}